/*****************************************
            SASSY VARIABLES
*****************************************/
/*---*/
/*---*/
/*****************************************
            OVERALL STYLES
*****************************************/
/*---*/
/*PUT CODE IN HERE*/
/*---*/
/*****************************************
                HEADER
*****************************************/
/*---*/
/*PUT CODE IN HERE*/
/*---*/
/*****************************************
                SECTION
*****************************************/
/*---*/
/*PUT CODE IN HERE*/
/*---*/
/*****************************************
                ARTICLE
*****************************************/
/*---*/
<<<<<<< HEAD
/*PUT CODE IN HERE*/
/*---*/
/*****************************************
                ASIDE
*****************************************/
/*---*/
.formSampleImg {
  width: 450px;
  padding: 15px; }

.formImage {
  width: 350px;
  display: block;
  margin: 0 auto; }

.formGenerate {
  width: 350px;
  margin: 0 auto; }

.formTopText {
  width: 250px;
  margin: 5px 0; }

.formBottomText {
  width: 250px;
  margin: 5px 0; }

.formSubButton {
  float: right;
  height: 50px; }

=======
.articleMemes {
  background-color: #FFDB96; }

.memeListing {
  width: 60%;
  margin: 10px auto; }

.imgHolder {
  width: 400px;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #BB9958;
  text-align: center; }
  .imgHolder .mainImg {
    width: 90%;
    margin: 10px auto;
    position: relative; }

.memeUL {
  width: 90%;
  margin: 0 auto;
  margin: 0 auto;
  -webkit-columns: 3;
  -webkit-column-gap: 1;
  -webkit-column-rule: 0;
  columns: 3;
  column-gap: 3;
  list-style-type: none;
  padding: 0; }
  .memeUL li {
    text-align: left;
    width: 100%;
    list-style-type: none;
    display: inline-block; }

.topLayer {
  position: absolute;
  top: 5%;
  left: 30%;
  color: white;
  font-size: 2em; }

.bottomLayer {
  position: absolute;
  left: 30%;
  bottom: 30%;
  color: white;
  font-size: 2em; }

.iconHeart {
  width: 20px; }

/*---*/
/*****************************************
                ASIDE
*****************************************/
/*---*/
>>>>>>> d5528679a331fd14fa6fa51be1976e7c78b8d4de
/*PUT CODE IN HERE*/
/*---*/
/*****************************************
                FOOTER
*****************************************/
/*---*/
/*PUT CODE IN HERE*/
/*---*/
